{% extends "base.html" %}

{% block content %}


    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #4a7da1;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"> <span
                    style="color: rgb(56, 56, 167); font-family: 'Titan One', sans-serif;">Yazyk</span> Interpret</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a style="font-weight: bold" class="nav-link dropdown-toggle" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">三</a>
                        <ul class="dropdown-menu">

                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">About Yazyk Interpret</a></li>
                                    <br>
                                </ol>
                            </nav>
                            <li><a class="dropdown-item" href="#">Privacy & Terms</a></li>
                            <li><a class="dropdown-item" href="#">Help</a></li>
                            <li><a class="dropdown-item" href="#">Send feedback</a></li>
                            <li><a class="dropdown-item" href="#">About Yazyk</a></li>
                        </ul>

                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br><br>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <form action="/translate" method="POST" id="translation-form">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                                checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Autodetect ⭐</label>
                        </div>
                       

                        <br>
                        <input type="text" class="form-control" name="input_text" id="input-text" placeholder=""
                            aria-describedby="button-addon1">
                        <br>
                        <button type="submit" class="btn btn-outline-info" id="button-detect">Translate</button>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-outline-secondary" type="button" id="button-french">English</button>
                    <button class="btn btn-outline-secondary" type="button" id="button-russian">Hebrew</button>
                    <button class="btn btn-outline-secondary" type="button" id="button-hebrew">Russian</button>

                    <div class="btn-group">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            More languages
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><button class="btn btn-outline-secondary" type="button"
                                    id="button-ukrainian">French</button></li>
                            <li><button class="btn btn-outline-secondary" type="button"
                                    id="button-arabic">Arabic</button></li>
                            <li><button class="btn btn-outline-secondary" type="button"
                                    id="button-german">German</button></li>
                            <li><button class="btn btn-outline-secondary" type="button"
                                    id="button-ukrainian">Ukrainian</button></li>
                            <li><button class="btn btn-outline-secondary" type="button"
                                    id="button-ukrainian">Belarusian</button></li>
                            <li><button class="btn btn-outline-secondary" type="button" id="button-greek">Greek</button>
                            </li>
                            <li><button class="btn btn-outline-secondary" type="button"
                                    id="button-greek">Amharic</button></li>
                            <li><button class="btn btn-outline-secondary" type="button"
                                    id="button-greek">Spanish</button></li>
                            <li><button class="btn btn-outline-secondary" type="button"
                                    id="button-greek">Yiddish</button></li>
                            <li><button class="btn btn-outline-secondary" type="button"
                                    id="button-esperanto">Esperanto</button></li>

                        </ul>
                    </div>

                    <br><br>
                    <input type="text" class="form-control" id="translated-placeholder" placeholder="Translation"
                        aria-describedby="button-addon1">
                    <br>
                </div>
            </div>
        </div>

    </div>


    <script>
        const languageButtons = document.querySelectorAll('.btn-outline-secondary'); // Select all language buttons

        // Loop through each language button and add a click event listener
        languageButtons.forEach(button => {
            button.addEventListener('click', function () {
                const language = this.innerText; // Get the language text from the button

                // Send an AJAX request to update the translation destination language
                fetch('/set_language', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ language }) // Send the selected language
                })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        });


        document.getElementById('translation-form').addEventListener('submit', function (event) {
            event.preventDefault();

            const formData = new FormData(this);
            const inputText = formData.get('input_text');

            // Clear the placeholder text when translating
            document.getElementById('translated-placeholder').setAttribute('placeholder', '');

            fetch('/translate', {
                method: 'POST',
                body: formData
            })
                .then(response => response.text())
                .then(translatedText => {
                    document.getElementById('translated-placeholder').setAttribute('placeholder', `${translatedText}`);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>
</body>

{% endblock %}