<li><button class="btn btn-outline-secondary" type="button" id="button-ukrainian">French</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-arabic">Arabic</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-german">German</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-ukrainian">Ukrainian</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-ukrainian">Belarusian</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-greek">Greek</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-greek">Amharic</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-greek">Spanish</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-greek">Yiddish</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-esperanto">Esperanto</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-italian">Italian</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-dutch">Dutch</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-swedish">Swedish</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-norwegian">Norwegian</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-danish">Danish</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-finnish">Finnish</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-polish">Polish</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-hungarian">Hungarian</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-czech">Czech</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-portuguese">Portuguese</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-turkish">Turkish</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-romanian">Romanian</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-slovak">Slovak</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-bulgarian">Bulgarian</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-serbian">Serbian</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-croatian">Croatian</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-slovenian">Slovenian</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-lithuanian">Lithuanian</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-latvian">Latvian</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-estonian">Estonian</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-icelandic">Icelandic</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-irish">Irish</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-welsh">Welsh</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-scots-gaelic">Scots Gaelic</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-breton">Breton</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-catalan">Catalan</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-basque">Basque</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-galician">Galician</button></li>
<li><button class="btn btn-outline-secondary" type="button" id="button-maltese">Maltese</button></li>